.header {
    background-color: rgb(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 0 20px;
}
.header__container {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin: 0 40px 0 0;
}

.logo img{
    max-width: 90px;
}
.menu {
    display: flex;
    align-items: center;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__first-block{
    display: flex;
}
.menu__second-block{
    display: flex;
}
.menu__link {
    text-align: center;
}
.menu__item:not(:last-child) {
    padding: 0 10px 0 0;
}

.menu__link {
    color: #b3b3b3;
    padding: 10px 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    transition: color .15s linear;
}

.menu__link:hover {
    color: #ffffff
}
.menu__login {
    display: flex;
    margin-left: auto;
    flex-wrap: wrap;
}
.login__section {
    color: #b3b3b3;
    padding: 10px 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    transition: color .15s linear;
}
.login__section:hover {
    color: #ffffff;
}

@media (max-width: 880px){
    .menu__list{
        flex-direction: column;
    }
    .menu__first-block{
        flex-direction: column;
    }
    .menu__second-block{
        flex-direction: column;
    }
    .menu__login{
        flex-direction: column;
    }
    .menu__link {
        font-size: 20px;
    }
    .login__section{
        font-size: 20px;
    }
    .menu__link:not(:last-child){
        padding: 16px;
    }
    .menu__item {
        margin: 6px;
    }
    .login_container {
        right: 10px;
    }
}

@media (max-width: 475px){
    .header__container{
        flex-direction: column;
    }
    .menu {
        flex-direction: column;
    }
    .menu__login{
        margin: 0;
    }

}
  

.login:hover .login_container{
    display: block;
}
.login_container{
    background-color: #ffffff;
    padding: 24px;
    border-radius: 6px;
    height: 220px;
    width: 200px;
    margin-top: 0;
    display: none;
    position: absolute;
    z-index: 1;
    align-items: center;
    text-align: center;
    right: 15px;
}
.login_container h2 {
    color: #c48600;
}
.login_input{
    margin: 5px 0;
    height: 40px;
}

.login_input input{
    height: 80%;
    width: 100%;
    outline: none;
    border: 1.5px solid #4267B2;
    border-radius: 5px;
    text-indent: 5px;
}

.login_button {
    background-color:#c48600;
    border-radius: 6px;
    color: rgb(255, 255, 255);
    padding: 8px 50px;
    text-align: center;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

  ::placeholder{
    padding-left: 6px;
}
  .forgot_pass{
    color: #000000;;
    font-size: 12px;
    float: none;
    color: #000000;;
    padding: 0px 2px;
    text-decoration: none;
    display: block;
    text-align: center;
}
  .forgot_pass:hover{
    color: #c48600;
}
