body{
    font-family: 'Quicksand', sans-serif;
}

.wrapper {
    min-height: 100%;
    justify-content: center;
    align-items: center;
}
.page__login {
    position: relative;
    border-radius: 8px;
    padding: 50px;
    background-color: #fff;
}
.back__website{
    position: absolute;
    top: 10px;
    left: 10px;
}

.login__input{
    box-sizing: content-box;
    width: 100%;
}

.login__item {
    margin: 4px auto;
    padding: 16px;
    border: 1px solid #b3b3b3;
    width: 100%;
    border-radius: 8px;
    min-width: 250px;
    font-size: 16px;
    transition: all .15s linear;
}
.login__item:hover{
    border: 1px solid #f8a145;
}
.login__item:focus{
    border: 1px solid #d35100;
}
.pass__forgot{
    font-size: 14px;
    color: #f8a145;
    transition: all .15s linear;
}
.pass__forgot:hover {
    color: #d35100;
}
.login__submit {
    padding-top: 16px;
}
.login__send {
    width: 100%;
    font-size: 16px;
    border-radius: 8px;
    padding: 16px;
    background-color: #d35100;
    transition: all .15s linear;
    color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}
.login__send:hover {
    background-color: #f8a145;
}

.login__line{
    margin-top: 10px;
    border: 1px solid #dddfe2;
}

.login__register{
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    width: 100%;
    font-size: 16px;
    border-radius: 8px;
    padding: 16px;
    background-color: #f8a145;
    margin-top: 10px;
    transition: all .15s linear;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}

.login__register:hover {
    background-color: #b3b3b3;
}

.back{
    font-size: 14px;
    color: #f8a145;
    transition: all .15s linear;
}
.back:hover {
    color: #d35100;
}
